@import '../sass/variablesAndMaps';
@import '../sass/_mixins';

@mixin hover_effect {
    &:hover {
        background-color: var(--bg-accent-color);
    }
}

.menu_container {
    $option-padding-inline: 1.5rem;
    $list-item-padding: $spacing-3;
    position: relative;
    max-width: 12rem;

    @mixin filter_btn {
        padding-inline: $option-padding-inline;
        min-width: 100%;

        @include primary_button;
        @include hover_effect;
    }

    .btn {
        @include filter_btn;
    }

    .btn_region_selected {
        text-transform: capitalize;
        @include filter_btn;
    }

    .filter_container {
        content: '';
        position: absolute;
        top: calc(100% + 5px);
        min-width: 100%;
        padding-block: $list-item-padding;
        background-color: var(--bg-accent-color);
        @include border_radius;
        @include box_shadow;

        li {
            display: flex;

            label {
                position: relative;
                font-size: $fs-200;
                font-weight: map-get($font-weights, 'bold');
                padding-inline: $option-padding-inline;
                padding-block: $list-item-padding / 3;
                text-transform: capitalize;
                flex-grow: 1;
                z-index: 2;

                &:hover {
                    cursor: pointer;
                }

                input {
                    position: absolute;
                    inset: 0;
                    appearance: none;
                    z-index: -1;

                    &:hover {
                        background-color: var(--bg-color);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
