@import '../sass/mixins';

.back_button {
    @include button_with_icon;
    @include primary_button;
    padding-inline: $spacing-7;
    padding-block: $spacing-1;
    margin-top: $spacing-8;
    box-shadow: 0 1px 5px 3px var(--shadow-color);

    @media screen and (min-width: 1200px) {
        padding-inline: $spacing-8;
         margin-top: $spacing-10;
    }

    svg {
        $size: 19px;
        width: $size;
        height: $size;
    }

    span {
        font-size: $fs-300;
        font-weight: map-get($font-weights, 'light');
    }
}
