@import '../sass/variablesAndMaps';
@import '../sass/_mixins';

.menu_container {
    button {
        font-weight: map-get($font-weights, 'bold');
        min-width: 12.5rem;
        padding: 1.1rem 1.5rem;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $spacing-md;
        @include border_radius;
        @include box_shadow;
    }
}

// TODO MELHORAR AS VARIÁVEIS DE SPACING