@use 'sass:color';
@import '../sass/variablesAndMaps';
@import '../sass/mixins';

.main_header {
    @include box_shadow;

    nav {
        background-color: var(--bg-accent-color);
        min-height: 5rem;

        @include justify_between;

        h1,
        button {
            padding: $spacing-3;
        }

        h1 {
            font-size: $fs-300;
            letter-spacing: 0.1px;
            font-weight: map-get($font-weights, 'extra-bold');
        }

        button {
            display: flex;
            font-size: $fs-200;
            font-weight: map-get($font-weights, 'bold');
            gap: 0.5rem;
            cursor: pointer;
            text-align: right;
        }

        svg {
            align-self: center;
        }
    }
}
