@use 'sass:color';
@import '../sass/variablesAndMaps';
@import '../sass/mixins';

.main_header {
    @include box_shadow;

    nav {
        background-color: var(--bg-accent-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 5rem;
        min-width: 100%;

        h1 {
            font-size: $fs-300;
            font-weight: map-get($font-weights, 'extra-bold');
        }

        a, button {
            padding: $spacing-sm;
        }

        button {
            display: flex;
            font-size: $fs-200;
            font-weight: map-get($font-weights, 'bold');
            gap: .5rem;
            cursor: pointer;
        }

        svg {
            align-self: center;
        }
    }
}
