@import '../sass/mixins';
@import '../sass/variablesAndMaps';

.searchbar_container {
    $height: 1.8rem;
    $icon_container_width: 2.3rem;
    background-color: var(--bg-accent-color);
    position: relative;
    isolation: isolate;
    @include box_shadow;
    @include border_radius;

    .icon_container {
        display: flex;
        justify-content: center;
        position: absolute;
        width: $icon_container_width * 2;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;

        svg {
            fill: var(--icon-faded-color);
        }
    }

    input {
        font-weight: map-get($font-weights, 'bold');
        min-width: 100%;
        color: var(--text-opaque-color);
        padding-inline: $icon_container_width * 2;
        padding-block: $height / 2;

        &::placeholder {
            color: var(--text-faded-color);
            font-size: $fs-200;
            font-weight: map-get($font-weights, 'bold');
        }

        &:focus-visible {
            z-index: 1;
        }
    }
}
