@import '../sass/mixins';

.load_more_btn {
    @include primary_button;
    margin-top: $spacing-8;
    padding-inline: 3rem;
    margin-inline: auto;

    &:disabled {
        cursor: default;
    }
}
