@import './sass/variablesAndMaps';

:root {
    font-weight: map-get($font-weights, 'light');
    background-color: var(--bg-color);
    color: var(--text-opaque-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    font: inherit;
    background-color: transparent;
    border: none;
    color: inherit;
}

li {
    list-style: none;
}

img,
svg {
    display: block;
    max-width: 100%;
}


