@use 'sass:color';
@import './variablesAndMaps';

@mixin box_shadow {
    box-shadow: 0 1px 10px 0 var(--shadow-color);
}

@mixin border_radius {
    border-radius: 5px;
}

@mixin justify_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin primary_box {
    font-size: $fs-200;
    margin-top: $spacing-8;
    background-color: var(--bg-accent-color);
    padding-block: 1.1rem;
    font-weight: map-get($font-weights, 'bold');

    @include border_radius;
    @include box_shadow;
}

@mixin primary_button {
    cursor: pointer;
    @include primary_box;
    @include justify_between;

    &:hover {
        background-color: var(--bg-color);
    }

    &:disabled {
        opacity: 0.5;
    }
}

@mixin vertical_center {
    top: 50%;
    transform: translateY(-50%);
}
