@import '../sass/functions';

$clr-primary-dark-300: hsl(209, 23%, 22%);
$clr-primary-dark-400: hsl(207, 26%, 17%);
$clr-primary-dark-800: hsl(200, 15%, 8%);

$clr-primary-light-100: hsl(0, 0%, 100%);
$clr-primary-light-150: hsl(0, 0%, 98%);
$clr-primary-light-400: hsl(0, 0%, 52%);

$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

$fs-200: 0.75rem;   // 12px
$fs-300: 0.875rem;  // 14px
$fs-400: 1rem;      // 16px
$fs-500: 1.125rem;  // 18px

.light {
    --bg-color: #{$clr-primary-light-150};
    --bg-accent-color: #{$clr-primary-light-100};
    --text-opaque-color: #{$clr-primary-dark-800};
    --text-faded-color: #{text_faded_color($clr-primary-dark-800)};
    --icon-faded-color: #{icon_faded_color($clr-primary-dark-800)};
    --shadow-color: #{shadow_color($clr-primary-light-400)};
}

.dark {
    --bg-color: #{$clr-primary-dark-400};
    --bg-accent-color: #{$clr-primary-dark-300};
    --text-opaque-color: #{$clr-primary-light-150};
    --text-faded-color: #{$clr-primary-light-150};
    --icon-faded-color: #{$clr-primary-light-150};
    --shadow-color: #{shadow_color($clr-primary-dark-800)};
}

$font-weights: (
    'light': 300,
    'bold': 600,
    'extra-bold': 800,
);
