@use 'sass:color';

$clr-primary-dark-300: hsl(209, 23%, 22%);
$clr-primary-dark-400: hsl(207, 26%, 17%);
$clr-primary-dark-800: hsl(200, 15%, 8%);

$clr-primary-light-100: hsl(0, 0%, 100%);
$clr-primary-light-150: hsl(0, 0%, 98%);
$clr-primary-light-400: hsl(0, 0%, 52%);

$spacing-1: 0.75rem; // 12px
$spacing-2: 0.875rem; // 14px
$spacing-3: 1rem; // 16px
$spacing-4: 1.125rem; // 18px
$spacing-5: 1.25rem; // 20px
$spacing-6: 1.5rem; // 24px
$spacing-7: 1.75rem; // 28px
$spacing-8: 2rem; // 32px
$spacing-9: 3rem; // 48px
$spacing-10: 4rem; // 64px

$fs-200: 0.8125rem; // 13px
$fs-300: 0.875rem; // 14px
$fs-350: 0.9375rem; // 15px
$fs-400: 1rem; // 16px
$fs-450: 1.0625rem; // 16px
$fs-500: 1.125rem; // 18px

.light {
    --bg-color: #{$clr-primary-light-150};
    --bg-accent-color: #{$clr-primary-light-100};
    --text-opaque-color: #{$clr-primary-dark-800};
    --text-faded-color: #{color.scale($clr-primary-dark-800, $alpha: -80%)};
    --icon-faded-color: #{color.scale($clr-primary-dark-800, $alpha: -50%)};
    --shadow-color: #{color.scale($clr-primary-light-400, $alpha: -80%)};

    [data-hide-on-theme='dark'] {
        display: none;
    }
}

.dark {
    --bg-color: #{$clr-primary-dark-400};
    --bg-accent-color: #{$clr-primary-dark-300};
    --text-opaque-color: #{$clr-primary-light-150};
    --text-faded-color: #{$clr-primary-light-150};
    --icon-faded-color: #{$clr-primary-light-150};
    --shadow-color: #{color.scale($clr-primary-dark-800, $alpha: -80%)};

    [data-hide-on-theme='light'] {
        display: none;
    }
}

$font-weights: (
    'light': 300,
    'bold': 600,
    'extra-bold': 800,
);
